<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img alt="<% @movies.title %>" src="<%= @movies.image_url %>" class="img-thumbnail title-show" />
      </div>
       
        
        
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movies.title + " " + "(#{@movies.year})"%> <%= image_tag 'rating.png' ,class: "rating-show-image"%><p class= "rating-show"> <%= @movies.rating %></p></td>
              </tr>
              <tr>
                <td><strong>Genre:</strong></td>
                <td><%= @movies.genre %></td>
              </tr>
              <tr>
                <td><strong>Plot:</strong></td>
                <td><%= @movies.plot %></td>
              </tr>
              
              <tr>
                <td><strong>Cast:</strong></td>
                <td><%= @movies.cast %></td>
              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
<div class = "col-md-8">
  
    <div class="form-group">
      <label for="comment">Reviews:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
     <input type="submit" name="commit" value="submit" class="btn btn-primary" data-disable-with="submit">
  </div>
  
  <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <h4>Top 10 list of <%= @movies.genre%></h4>
            </h3>
          </div>
          <div class="panel-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Genre
                  </th>
                </tr>
              </thead>
              <tbody>

                  <tr>
                      <td>
                          1
                      </td>
                      <td>
                          Hello
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
                  <tr>
                      <td>
                        2
                      </td>
                      <td>
                          Hello2
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
                  <tr>
                      <td>
                        3
                      </td>
                      <td>
                          Hello3
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
                  <tr>
                      <td>
                        4
                      </td>
                      <td>
                          Hello3
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
                  <tr>
                      <td>
                        5
                      </td>
                      <td>
                          Hello4
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
                  <tr>
                      <td>
                        6
                      </td>
                      <td>
                          Hello5
                      </td>
                      <td>
                          Default
                      </td>
                  </tr>
              </tbody>
              </table>
            </div>
        </div>
      
  </div>
</div>



<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');

    }
  });
</script>
