<%= form_for([@movies, @movies.reviews.build]) do |form| %>
<% if @movies.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(review.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% reviews.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :review_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
