<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
	<strong>User</strong>
		<%= @review.user.email %>
	</p>

<%= link_to 'Edit', "#" %> |
<%= link_to 'Back', "#" %>
